<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Manage Offering</title>
</head>
<body>
    <div class="container">
        <h2>Manage Offering</h2>
        <div class="offering-card">
            <h3>{{ offering.lesson_type }} at {{ offering.location.name }}</h3>
            <p class="time-slot">
                {{ offering.start_time.strftime('%B %d') }}: {{ offering.start_time.strftime('%I:%M %p') }} to {{ offering.end_time.strftime('%I:%M %p') }}
            </p>
            <p class="spots-available">
                Available spots: <span>{{ offering.available_spots }} / {{ offering.maximum_capacity }}</span>
            </p>
        </div>

        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <h3>Attendees</h3>
        {% if offering.attendees %}
            <ul>
                {% for attendee in offering.attendees %}
                    <li class="attendee">
                        {{ attendee.username }}
                        {% for booking in session.get('booking_details', []) %}
                            {% if booking.client_name == attendee.username and booking.offering_id == offering.id %}
                                <span>(booked for child: {{ booking.child_name }})</span>
                            {% endif %}
                        {% endfor %}
                        <form action="{{ url_for('remove_attendee', offering_id=offering.id, user_id=attendee.id) }}" method="POST" style="display: inline;">
                            <button type="submit" class="remove-button">Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No attendees for this offering yet.</p>
        {% endif %}
        


            <!-- Button to delete the offering -->
            <form action="{{ url_for('delete_offering', offering_id=offering.id) }}" method="POST" class="delete-offering-form">
                <button type="submit" class="delete-button">Delete Offering</button>
            </form>
        {% else %}
            <p>You do not have permission to manage this offering.</p>
        {% endif %}

        <a href="{{ url_for('index') }}" class="back-button">Back to Offerings</a>
    </div>
</body>
</html>
